<p>
  <strong>Message:</strong>
  <%= @notification.mensaje %>
</p>

<p>
  <strong>User:</strong>
  <%= @notification.user.nombre_completo %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
