<div class="container">
  <h1 class="title has-text-centered">Listing Users</h1>
  <table class="table is-striped is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Nombre Completo</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.nombre_completo %></td>
          <td><%= user.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
