<!-- app/views/pages/home.html.erb -->
<div class="container">
  <h1 class="title">Welcome to LearnU</h1>
  <p>Find out what topics you find interesting, learn a new skill & connect with people that are passionate about similar topics.</p>
  <div class="buttons">
    <a href="<%= login_path %>" class="button is-link">Login</a>
    <a href="<%= signup_path %>" class="button is-primary">Sign Up</a>
  </div>
  <div class="images">
    <!-- Añade tus imágenes aquí -->
    <img src="path/to/your/image1.png" alt="Image 1">
    <img src="path/to/your/image2.png" alt="Image 2">
  </div>
</div>
