<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main Dashboard - UBBCSA</title>
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css' %>
  <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css' %>
  <%= stylesheet_link_tag 'main' %>
</head>
<body>

  <!-- Navbar -->
<%= render 'shared/navbar' %>


  <!-- Dashboard Principal -->
  <section class="section">
    <div class="container">
      <h1 class="title">Bienvenido, [Nombre del Usuario]</h1>
      <h2 class="subtitle">Tu progreso hasta ahora:</h2>

      <!-- Progreso de los Cursos -->
      <div class="columns">
        <div class="column is-4">
          <div class="card">
            <div class="card-content">
              <p class="title is-5">Seguridad en Redes</p>
              <p class="subtitle is-6">Progreso: 70%</p>
              <progress class="progress is-primary" value="10" max="100">10%</progress>
              <a href="#" class="button is-primary is-fullwidth">Continuar Curso</a>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card">
            <div class="card-content">
              <p class="title is-5">Seguridad en BD</p>
              <p class="subtitle is-6">Progreso: 70%</p>
              <progress class="progress is-primary" value="40" max="100">40%</progress>
              <a href="#" class="button is-primary is-fullwidth">Continuar Curso</a>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card">
            <div class="card-content">
              <p class="title is-5">Seguridad en </p>
              <p class="subtitle is-6">Progreso: 70%</p>
              <progress class="progress is-primary" value="70" max="100">70%</progress>
              <a href="#" class="button is-primary is-fullwidth">Continuar Curso</a>
            </div>
          </div>
        </div>
      </div>



      <!-- Cursos Recomendados -->
      <div class="section">
        <h2 class="title">Cursos Recomendados para Ti</h2>
        <div class="columns is-multiline">
          <div class="column is-3">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="path_to_image" alt="Descripción del curso">
                </figure>
              </div>
              <div class="card-content">
                <p class="title is-5">Introducción a la Criptografía</p>
                <a href="#" class="button is-primary is-fullwidth">Ver Curso</a>
              </div>
            </div>
          </div>
          <div class="column is-3">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="path_to_image" alt="Descripción del curso">
                </figure>
              </div>
              <div class="card-content">
                <p class="title is-5">Introducción a la Criptografía</p>
                <a href="#" class="button is-primary is-fullwidth">Ver Curso</a>
              </div>
            </div>
          </div>
          <div class="column is-3">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="path_to_image" alt="Descripción del curso">
                </figure>
              </div>
              <div class="card-content">
                <p class="title is-5">Introducción a la Criptografía</p>
                <a href="#" class="button is-primary is-fullwidth">Ver Curso</a>
              </div>
            </div>
          </div>
          <div class="column is-3">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="path_to_image" alt="Descripción del curso">
                </figure>
              </div>
              <div class="card-content">
                <p class="title is-5">Introducción a la Criptografía</p>
                <a href="#" class="button is-primary is-fullwidth">Ver Curso</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      
    </div>
  </section>

  <!-- Scripts -->
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      if ($navbarBurgers.length > 0) {
        $navbarBurgers.forEach(el => {
          el.addEventListener('click', () => {
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');
          });
        });
      }
    });
  </script>
</body>
</html>
