// app/assets/stylesheets/application.scss

@import "bulma";
@import "font-awesome";

img {
  padding: 5px;
  width: 60px;
}

body {
  background-color: #f5f5f5;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.columns {
  display: flex;
}

.column.is-one-quarter {
  flex: 0 0 25%;
}

.card {
  border-radius: 10px;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.title {
  margin-bottom: 20px;
  text-align: center;
}

.subtitle {
  margin-bottom: 2rem; // Actualización desde 20px a 2rem para mantener consistencia con el otro .subtitle
  text-align: center;
}

.button {
  margin-top: 10px;
}

.button.is-fullwidth {
  margin-bottom: 1rem; // Este margen se añade al final para evitar conflictos con el margen superior
}

.progress {
  margin-top: 10px;
}

.hero.is-fullheight {
  align-items: center;
  background-color: #f5f5f5;
}

.box {
  border-radius: 8px; // Este border-radius se añade al final para evitar conflictos con el .card
  padding: 2rem; // Actualización desde 20px a 2rem para mantener consistencia con el .card
}

.main-content {
  margin-left: 250px; /* Ancho de la sidebar */
  padding: 20px;
}

.header {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 74px;
  background-color: #707070;
  box-shadow: 2px -2px 10px rgba(3,3,3,0.1);
}


.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  font-size: 24px;
  font-weight: bold;
}

.header .nav .button {
  margin-left: 10px;
}
